
{{- $calendarLink := or (.Site.Params.Author.calendarLink) ""}}
{{ if hasPrefix $calendarLink "https://calendar.google" }}
    {{- $calendarUrl := print .Site.Params.Author.calendarLink "&wkst=1&height=600&showPrint=0&mode=AGENDA&title&color=%23039be5" }}
    {{ if isset .Site.Params.Author "extraCalendarSources" }}
        {{- $extraSources := .Site.Params.Author.extraCalendarSources }}
        {{- if gt (len $extraSources) 0 }}
            {{- $calendarUrl := print $calendarUrl "&src=" (delimit $extraSources "&src=") }}
        {{ end }}
    {{ end }}
    <iframe src="{{ $calendarUrl }}" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{{ end }}
